$main-color: #3f5ca8;
$main-black: #202020;
$hover-color: #2cad98;
$hover-color2: #5270bd;

html {
    overflow: hidden;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    font-size: 12px;
}

body {
    background-color: white;
    margin: 0;

    .el-notification {
        width: 360px;
    }

    .notify {
        dl {
            margin-block-start: 0;
            margin-block-end: 0;
            display: flex;
            font-size: 12px;
        }

        dt {
            width: 85px;
            text-align: right;
        }

        dd {
            flex: 1;
            color: teal;
            font-weight: bold;
            padding: 0;
            padding-left: 10px;
            margin: 0;
            text-align: left;
        }
    }

    .el-header,
    .el-main {
        padding: 0;
    }

    .el-header {
        width: 100%;
        position: fixed;
        z-index: 200;
    }

    .el-menu {
        border-right: $main-color;
    }

    .el-menu-item i,
    .el-submenu__title i {
        color: white;
    }

    .el-scrollbar__wrap {
        overflow-x: hidden;
    }

    .el-select-dropdown .el-scrollbar .el-scrollbar__wrap,
    .el-picker-panel__content.el-scrollbar__wrap {
        overflow: scroll !important;
    }

    .el-menu-item.is-active {
        color: $hover-color !important;
    }

    .color-main {
        color: $main-color;
    }

    .color-gray {
        color: #909399;
    }

    .color-red {
        color: #ec0000;
    }

    .pointer {
        cursor: pointer;
    }

    .rtl .el-drawer__body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 100px;
        height: 100px;
    }

    .avatar-uploader .el-upload:hover {
        border-color: $main-color;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }

    // 上传文件
    .uploaded-file {
        width: 100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        display: flex;
        justify-items: center;
    }

    .float-left {
        float: left;
    }

    .img-box {
        width: 100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        position: relative;

        .el-icon-circle-close {
            position: absolute;
            right: -10px;
            top: -10px;
            color: #ec0000;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .audio-box {
        width: 300px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;

        .audio {
            width: 280px;
            margin: auto;
        }

        .el-icon-circle-close {
            position: absolute;
            right: -10px;
            top: -10px;
            color: #ec0000;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .video-box {
        width: 200px;
        height: 200px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 5px;

        .video {
            width: 100%;
            height: 100%;
        }

        .el-icon-circle-close {
            position: absolute;
            right: -10px;
            top: -10px;
            color: #ec0000;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .el-drawer__container ::-webkit-scrollbar {
        display: none;
    }

    .slider {
        position: absolute;
        right: 60px;
        top: 15px;
    }

    .el-select-dropdown__list {
        padding: 6px;
    }

    .el-select-dropdown__item {
        height: 24px;
        line-height: 24px;
    }
}

a {
    text-decoration: none;
    color: $main-color;
}

a:hover {
    text-decoration: none;
    color: $hover-color2;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mr30 {
    margin-right: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml30 {
    margin-left: 30px;
}

.pd10 {
    padding: 10px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w300 {
    width: 300px;
}

.w500 {
    width: 500px;
}

.h100 {
    height: 100px;
}

.h150 {
    height: 150px;
}

.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.both-clear {
    clear: both;
}

.my-detail {
    img {
        max-width: 100%;
    }
}

.word-break {
    padding-top: 6px;
    word-break: break-all;
    line-height: 20px;
}

.notigy-agree,
.notigy-cancel {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: $main-color;
    border: 1px solid $main-color;
    color: white;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
}

.notigy-cancel {
    margin-left: 20px;
    background: white;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.el-table .history-row {
    background: rgb(252, 211, 168);
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f4ebf9;
}

.el-table .odd-row {
    background: #f3e2f3;
}

.el-table .even-row {
    background: white;
}

.el-table--small .el-table__cell {
    padding: 3px 0;
}
